        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 text-center mb-2"> 
                        <h5 class="alt-font text-dark-gray fw-600 ls-minus-05px">4 Comments</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <ul class="blog-comment">
                            <li>
                                <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                    <div class="w-90px sm-w-65px sm-mb-10px">
                                        <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                    </div>
                                    <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                        <a href="#" class="text-dark-gray fw-600">Herman Miller</a>
                                        <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                        <div class="fs-14 lh-24 mb-10px">17 July 2020, 6:05 PM</div>
                                        <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make book.</p>
                                    </div>
                                </div>
                                <ul class="child-comment">
                                    <li>
                                        <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                            <div class="w-90px sm-w-65px sm-mb-10px">
                                                <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                            </div>
                                            <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                                <a href="#" class="text-dark-gray fw-600">Wilbur Haddock</a>
                                                <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                                <div class="fs-14 lh-24 mb-10px">18 July 2020, 10:19 PM</div>
                                                <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-block d-md-flex w-100 align-items-center align-items-md-start border-radius-5px p-50px md-p-30px sm-p-20px bg-very-light-gray">
                                            <div class="w-90px sm-w-65px sm-mb-10px">
                                                <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                            </div>
                                            <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                                <a href="#" class="text-dark-gray fw-600">Colene Landin</a>
                                                <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                                <div class="fs-14 lh-24 mb-10px">18 July 2020, 12:39 PM</div>
                                                <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Ipsum has been the industry's standard dummy text.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                    <div class="w-90px sm-w-65px sm-mb-10px">
                                        <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                    </div>
                                    <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                        <a href="#" class="text-dark-gray fw-600">Jennifer Freeman</a>
                                        <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                        <div class="fs-14 lh-24 mb-10px">19 July 2020, 8:25 PM</div>
                                        <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make a type specimen book.</p>
                                    </div>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

