<!-- start section -->
<section class="position-relative overflow-hidden pt-0">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-12 sm-mb-30px">
                        <div id="map" class="map h-650px md-h-550px sm-h-450px border-radius-6px" data-map-options='{ "lat": -37.817240, "lng": 144.955820, "marker": { "type": "image", "class": "marker01", "src": "https://via.placeholder.com/75x95" }, "popup": { "defaultOpen": false, "html": "<div class=infowindow><strong class=\"mb-3 d-inline-block alt-font\">Crafto eLearning</strong><p class=\"alt-font\">16122 Collins street, Melbourne, Australia</p></div><div class=\"google-maps-link alt-font\"> <a class=\"text-white\" aria-label=\"View larger map\" target=\"_blank\" jstcache=\"31\" href=\"https://maps.google.com/maps?ll=-37.805688,144.962312&amp;z=17&amp;t=m&amp;hl=en-US&amp;gl=IN&amp;mapclient=embed&amp;cid=13153204942596594449\" jsaction=\"mouseup:placeCard.largerMap\">VIEW LARGER MAP</a></div>" } }'></div>
                    </div>
                    <div class="col-lg-5 col-md-6 contact-form-style-03 position-absolute sm-position-relative right-0px bottom-0" data-anime='{ "opacity": [0, 1], "translateY": [-20, 0], "translateX": [-20, 0], "staggervalue": 100, "easing": "easeOutQuad" }'> 
                        <div class="bg-white p-13 md-p-10 position-relative overflow-hidden background-no-repeat background-position-right-bottom box-shadow-extra-large" style="background-image: url(images/demo-elearning-contact-bg-01.png)">
                            <div>
                                <h6 class="text-dark-gray fw-600 ls-minus-1px mb-5px">Blogger's cave - London</h6>
                                <p class="w-100 mb-10px">401 Broadway, 24th Floor,<br>Orchard View, London, UK</p>
                                <div class="w-100 d-block">
                                    <span class="d-block"><span class="text-dark-gray fw-600">T:</span><a href="tel:1234567890"> 123 456 7890</a></span>
                                    <span class="d-block"><span class="text-dark-gray fw-600">E:</span> <a href="mailto:info@yourdomain.com" class="text-dark-gray text-decoration-line-bottom fw-600">info@yourdomain.com</a></span>
                                    <a href="https://maps.google.com/maps?ll=-37.805688,144.962312&amp;z=17&amp;t=m&amp;hl=en-US&amp;gl=IN&amp;mapclient=embed&amp;cid=13153204942596594449" target="_blank" class="btn btn-large btn-dark-gray btn-box-shadow btn-rounded btn-switch-text mt-35px text-transform-none">
                                        <span>
                                            <span class="btn-double-text" data-text="View on google map">View on google map</span>
                                            <span><i class="fa-solid fa-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="position-relative">
            <div class="container">
                <div class="row row-cols-md-1 justify-content-center" data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col-xxl-4 col-xl-5 col-lg-5 md-mb-30px d-flex flex-column">
                        <h3 class="fw-700 ls-minus-1px text-dark-gray w-85 xl-w-90 md-w-100 mb-15px">We'd love to hear from you.</h3>
                        <p class="w-85 xl-w-90 xs-w-100">Lorem ipsum dolor sit amet, consectetur adipiscing finibus a purus at fermentum. Praesent vitae quam sed dui.</p>
                        <div class="icon-with-text-style-01 feature-box feature-box-left-icon-middle last-paragraph-no-margin mt-auto">
                            <div class="feature-box-icon me-15px">
                                <img src="https://via.placeholder.com/100x62" alt="" >
                            </div>
                            <div class="feature-box-content">
                                <span class="text-dark-gray fs-19 fw-600 d-block">Call us directly</span>
                                <span>+1 234 567 8910</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 offset-xxl-1">
                        <!-- start contact form -->
                        <form action="email-templates/contact-form.php" method="post" class="contact-form-style-03">
                            <div class="row justify-content-center">
                                <div class="col-md-6 xs-mb-30px">
                                    <label for="exampleInputEmail1" class="form-label fw-700 text-dark-gray text-uppercase fs-13 ls-05px mb-0">Enter your name*</label>
                                    <div class="position-relative form-group mb-25px xs-mb-0">
                                        <span class="form-icon"><i class="bi bi-emoji-smile text-dark-gray"></i></span>
                                        <input class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required" id="exampleInputEmail1" type="text" name="name" placeholder="What's your good name?" />
                                    </div>
                                </div>
                                <div class="col-md-6 xs-mb-30px">
                                    <label for="exampleInputEmail1" class="form-label fw-700 text-dark-gray text-uppercase fs-13 ls-05px mb-0">Phone number</label>
                                    <div class="position-relative form-group mb-25px xs-mb-0">
                                        <span class="form-icon"><i class="bi bi-telephone text-dark-gray"></i></span>
                                        <input class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control" id="exampleInputEmail2" type="tel" name="phone" placeholder="Enter your phone number" />
                                    </div>
                                </div>
                                <div class="col-md-6 xs-mb-30px">
                                    <label for="exampleInputEmail1" class="form-label fw-700 text-dark-gray text-uppercase fs-13 ls-05px mb-0">Email address*</label>
                                    <div class="position-relative form-group mb-25px xs-mb-0">
                                        <span class="form-icon"><i class="bi bi-envelope text-dark-gray"></i></span>
                                        <input class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required" id="exampleInputEmail3" type="email" name="email" placeholder="Enter your email address" />
                                    </div>
                                </div>
                                <div class="col-md-6 xs-mb-30px">
                                    <label for="exampleInputEmail1" class="form-label fw-700 text-dark-gray text-uppercase fs-13 ls-05px mb-0">Subject</label>
                                    <div class="position-relative form-group mb-25px xs-mb-0">
                                        <span class="form-icon"><i class="bi bi-journals text-dark-gray"></i></span>
                                        <input class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control" id="exampleInputEmail4" type="text" name="subject" placeholder="How can we help you?" />
                                    </div>
                                </div>
                                <div class="col-12 mb-4 xs-mb-30px">
                                    <label for="exampleInputEmail1" class="form-label fw-700 text-dark-gray text-uppercase fs-13 ls-05px mb-0">Your message</label>
                                    <div class="position-relative form-group form-textarea mb-0"> 
                                        <textarea class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control" name="comment" placeholder="Describe about your project" rows="4"></textarea>
                                        <span class="form-icon"><i class="bi bi-chat-square-dots text-dark-gray"></i></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-7 col-sm-10">
                                    <p class="mb-0 fs-14 lh-24 text-center text-md-start">We will never collect information about you without your explicit consent.</p>
                                </div>
                                <div class="col-xl-6 col-md-5 text-center text-md-end sm-mt-25px">
                                    <input id="exampleInputEmail5" type="hidden" name="redirect" value="">
                                    <button class="btn btn-small btn-dark-gray btn-box-shadow btn-round-edge text-transform-none primary-font submit" type="submit">Send message</button>
                                </div>
                                <div class="col-12">
                                    <div class="form-results mt-20px d-none"></div>
                                </div>
                            </div>
                        </form>
                        <!-- end contact form -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        