<select name="country" id="country" class="mb-20px">
  <option value="RU">Russia</option>
  <option value="CA" selected>Canada</option>
  <option value="CN">China</option>
  <option value="US">United States</option>
  <option value="BR">Brazil</option>
  <option value="AU">Australia</option>
  <option value="IN">India</option>
  <option value="AR">Argentina</option>
  <option value="KZ">Kazakhstan</option>
  <option value="DZ">Algeria</option>
  <option value="CD">Democratic Republic of the Congo</option>
  <option value="SA">Saudi Arabia</option>
  <option value="MX">Mexico</option>
  <option value="ID">Indonesia</option>
  <option value="SD">Sudan</option>
</select>
