<div class="news">
	<hr class="hr-blue" />
	<div class="news-header">
		<h5 class="text-dark-gray alt-font fw-600">Latest news</h5>
	</div>
	<hr class="hr-blue" />
	<div class="news-text">
		<div class="text-block-header">
			<h7 class="text-dark-gray alt-font fw-600">I've covered every single Prime Day- here's the 79 Amazon deals I'd buy with my own money</h7>
		</div>
		<hr class="hr-circle"/>
		<div class="text-block-header">
			<h7 class="text-dark-gray alt-font fw-600">Score! AirPods Max and AirPods Pro just hit lowest prices ever for Prime Day</h7>
		</div>
		<hr class="hr-circle"/>
		<div class="text-block-text">
			<p>Act fast! My go-to portable charger just crashed to lowest price ever for Prime Day</p>
		</div>
		<div class="text-block-text">
			<p>Amazon Prime Day deals under $50- here's 19 bargains I'd grab right now</p>
		</div>
	</div>
</div>
<style>
	.news{
		width: 100%;
		min-width: 300px;
	}
	.hr-blue{
		margin: 5px 0;
		padding: 0;
		height: 2px;
		border: none;
		border-radius: 5px;
		background: blue;
	}

	.hr-circle {
		margin: 10px 0;
		padding: 0;
		height: 0;
		border: none;
		border-width: 0 0 3px;
		border-style: solid;
		border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="black" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
		background-position: 50%;
		box-sizing: border-box;
	}
</style>
