							<div class="col-12 mt-4 d-flex justify-content-center">
								<ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">
									<li class="page-item"><a class="page-link" href="#"><i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i></a></li>
									<li class="page-item"><a class="page-link" href="#">01</a></li>
									<li class="page-item active"><a class="page-link" href="#">02</a></li>
									<li class="page-item"><a class="page-link" href="#">03</a></li>
									<li class="page-item"><a class="page-link" href="#">04</a></li>
									<li class="page-item"><a class="page-link" href="#"><i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i></a></li>
								</ul>
							</div>


