<!-- start social media block -->
<div class="row align-items-center justify-content-center mt-8" style="max-width: 80%; margin-left: 10%; ">
                        <div class="col-md-auto text-center text-md-end sm-mb-20px">
                            <h6 class="text-dark-gray fw-600 mb-0 ls-minus-1px">SHARE</h6>
                        </div>
                        <div class="col-2 d-none d-lg-inline-block">
                            <span class="w-100 h-1px bg-dark-gray opacity-2 d-flex mx-auto"></span>
                        </div>
                        <!-- start social icon -->
                        <div class="col-md-auto elements-social social-icon-style-04 text-center text-md-start ps-lg-0">
                            <ul class="large-icon dark">
                                <li class="m-0"><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpc-gaming-website.com&t=Hello%21+I+discovered+a+nice+pc+gaming+website.+Follow+link%3A+https%3A%2F%2Fblog-playoncd.com" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
                                <li class="m-0"><a class="twitter" href="https://twitter.com/intent/tweet?text=Hello%21+I+discovered+a+nice+pc+gaming+website.+Follow+link%3A+https%3A%2F%2Fblog-playoncd.com" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>      
                            </ul>                  
                        </div>
                        <!-- end social icon -->
                    </div>

<!-- end social media block -->