
<section class="pt-40px" style="display: flex; justify-content: center; font-family: Inter;">
	<div style="width: 400px;">
					<form>
						<input class="border-radius-6px" placeholder="Your e-mail"/>

						<div class="mt-5px mb-25px" style="font-family: Inter; font-size: 12px; display: flex; height: 14px;">
							<label class="w-20px checkbox-container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
							<label class="text-black" for="html">Remember me</label>
						</div>

						<a href="login"><div class="nav-item p-10px mt-10px w-100 border-radius-6px text-black" style="background:#CFD201; text-align: center;" >Continue</div></a>

					</form>

					<div class="mt-10px" style="text-align: center;">
						<p class="fs-12 text-black mb-0">Or continue with:</p>
						<a class="mt-0" href="https://google.com"><div class="nav-item p-5px w-100 border-radius-6px text-black" style="text-align: center; border: 1px solid #CCDCC5" ><img src="{{blog.return_path}}images/google.svg" /></div></a>
						<a href="https://apple.com"><div class="nav-item p-5px mt-10px w-100 border-radius-6px text-black" style="text-align: center; border: 1px solid #CCDCC5" ><img src="{{blog.return_path}}images/apple.svg" /></div></a>

					</div>
	</div>
</section>
