<section class="pt-5 ps-10 pe-10 xs-px-0">
	<div class="container-fluid">                
		<div class="row">
			<div class="col-12">
				<ul class="blog-modern blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
					<li class="grid-sizer"></li>
					{{# each  blog.elems}}
						{{> card-simple data=this }}								
					{{/ each}}
				</ul>
			</div>
		</div>
	</div>
	{{> pagination}}
</section>

