		<footer class="footer-demo bg-dark-slate-blue pb-4 sm-pb-50px" style="background-image: url(images/demo-footer-pattern.svg)">
            <div class="container">
                <div class="row">
                	<p class="fs-13 lh-22">&copy; 2024 PlayOnCd Blog</p>
                </div>
            </div>
        </footer>
