        <section id="about-screen" class="page-title-big-typography text-white ipad-top-space-margin cover-background fs-16 pt-0" >
            <div class="container">
                <div class="row align-items-end small-screen">
                    <div class="position-relative page-title-extra-small">

                            <p class="d-inline-block" data-anime='{ "translateY": [30, 0], "opacity": [0, 1], "easing": "easeOutCubic", "duration": 500, "staggervalue": 300, "delay": 200 }' >Welcome to e-learning, your premier online destination for the latest in scientific research and innovation. At e-learning, we bring you cutting-edge articles across a wide range of disciplines, from quantum computing and genetic engineering to climate science and marine biology. Our mission is to make high-quality, peer-reviewed research accessible to everyone, fostering knowledge, education, and collaboration within the global scientific community. Whether you're a researcher, student, or science enthusiast, e-learning provides the resources you need to stay informed and inspired by the wonders of science.</p>
                    </div> 
                </div>
            </div>
        </section>


<style>
#about-screen {
	background-image: url({{blog.return_path}}images/desc_background.png);
				min-height: 600px;
				margin-left: -10px;
				margin-right: -10px;
				padding-left: 360px;
				padding-right: 360px;
				font-family: Inter;
				line-height: 22.4px;

	@media(max-width: 1100px){
			padding-left: 200px;
			padding-right: 200px;

	}
	@media(max-width: 800px){
		padding-left: 100px;
		padding-right: 100px;
		min-height: 400px;
	}
	@media(max-width: 550px){
		padding-left: 50px;
		padding-right: 50px;
		min-height: 400px;
	}

	@media(max-width: 460px){
		padding-left: 10px;
		padding-right: 10px;
		min-height: 500px;
	}
	@media(max-width: 380px){
		min-height: 550px;
	}
}
</style>
