<div style="max-width: 400px; line-height: 14px">
	<div style="height: 130px;">
		<img src="{{return}}{{image}}">
	</div>
	<p class="mt-10px fs-16 fw-600"> {{head}} </p>
	<span class="fs-12"> {{> @partial-block }} </span>
</div>
