<section id="citate">
	<div class="container" style="display: flex;justify-content: center;">
		<div class="mt-20px pt-20px border-radius-10px" style="max-width: 770px; min-height: 226px; border: 1px solid #54893D">
			<img src="{{blog.return_path}}images/citate.svg" style="position: absolute; margin-top: 30px; margin-left: -20px"/>
			<div class="ps-70px pt-20px pe-70px text-black">
				<p class="fs-32" style="font-family: Inter; font-weight: 400; text-align: left;">{{> @partial-block }}</p>
				<p style="font-family: Inter; font-size: 16px; font-weight: 400; text-align: right;">{{author}}</p>
			</div>
		</div>
	</div>
</section>

<style>
#citate {
	@media(max-width: 600px){
		div p{
			font-size: 20px;
		}

	}
	@media(max-width: 500px){
		div p{
			font-size: 18px;
			line-height: 1;
		}

	}
}
</style>
