<div style="display: flex; flex-direction: row; justify-content: center; font-family: Inter; text-align: left; width: 750px;">
	<div class="pe-25px" style="width:163px; height: 123px;">
		<img src="{{blog.return_path}}images/comments/{{avatar}}"  width="163" height="123">
	</div>
	<div style="width: 600px">
		<p class="fs-16 fw-500 lh-20 mb-5px">{{author}}</p>
		<p class="fs-12 fw-400 lh-15">
			{{> @partial-block }}
		</p>
	</div>
</div>
