        <section id="index-comments">
            <div class="container">
                    <div class="col-md-12">
                        <div class="swiper" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-06", "prevEl": ".slider-one-slide-prev-06" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView": 1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide" style="display: flex; justify-content: center;">
									<div style="width: min-content;">

										{{#> comment author="Alex" avatar="Alex.png"}}I have been using this scientific articles website for the past six months, and it has significantly enhanced my research capabilities. The extensive database covers a wide range of disciplines, making it easy to find relevant articles regardless of my research topic. The search functionality is intuitive and efficient, allowing me to quickly locate the papers I need. Additionally, the site offers tools for citation management and collaboration, which are invaluable for my academic work. I highly recommend this site to fellow researchers and students looking for a reliable source of scientific information.{{/ comment }}
										<hr style="width: 750px;"/>
										{{#> comment author="Margot" avatar="Margot.png"}}As a graduate student, I am constantly in need of access to the latest research papers and scientific articles. This website has been an incredible resource, offering a vast collection of peer-reviewed papers from reputable journals. The user interface is clean and easy to navigate, which makes the research process much smoother. I particularly appreciate the recommendations feature, which suggests articles related to my field of study, saving me a lot of time. Overall, this site is an indispensable tool for anyone engaged in scientific research.{{/ comment }}
									</div>
                                </div>


                                <div class="swiper-slide" style="display: flex; justify-content: center;">
									<div style="width: min-content;">

										{{#> comment author="Alex" avatar="Alex.png"}}I have been using this scientific articles website for the past six months, and it has significantly enhanced my research capabilities. The extensive database covers a wide range of disciplines, making it easy to find relevant articles regardless of my research topic. The search functionality is intuitive and efficient, allowing me to quickly locate the papers I need. Additionally, the site offers tools for citation management and collaboration, which are invaluable for my academic work. I highly recommend this site to fellow researchers and students looking for a reliable source of scientific information.{{/ comment }}
										<hr style="width: 750px;"/>
										{{#> comment author="Margot" avatar="Margot.png"}}As a graduate student, I am constantly in need of access to the latest research papers and scientific articles. This website has been an incredible resource, offering a vast collection of peer-reviewed papers from reputable journals. The user interface is clean and easy to navigate, which makes the research process much smoother. I particularly appreciate the recommendations feature, which suggests articles related to my field of study, saving me a lot of time. Overall, this site is an indispensable tool for anyone engaged in scientific research.{{/ comment }}
									</div>
                                </div>


                                <div class="swiper-slide" style="display: flex; justify-content: center;">
									<div style="width: min-content;">

										{{#> comment author="Alex" avatar="Alex.png"}}I have been using this scientific articles website for the past six months, and it has significantly enhanced my research capabilities. The extensive database covers a wide range of disciplines, making it easy to find relevant articles regardless of my research topic. The search functionality is intuitive and efficient, allowing me to quickly locate the papers I need. Additionally, the site offers tools for citation management and collaboration, which are invaluable for my academic work. I highly recommend this site to fellow researchers and students looking for a reliable source of scientific information.{{/ comment }}
										<hr style="width: 750px;"/>
										{{#> comment author="Margot" avatar="Margot.png"}}As a graduate student, I am constantly in need of access to the latest research papers and scientific articles. This website has been an incredible resource, offering a vast collection of peer-reviewed papers from reputable journals. The user interface is clean and easy to navigate, which makes the research process much smoother. I particularly appreciate the recommendations feature, which suggests articles related to my field of study, saving me a lot of time. Overall, this site is an indispensable tool for anyone engaged in scientific research.{{/ comment }}
									</div>
                                </div>

                            </div>
                            <!-- start slider navigation -->
                            <div class="slider-one-slide-prev-06 text-white w-100px swiper-button-prev slider-navigation-style-02"><i class="fa-solid fa-angle-left icon-extra-medium" style="color: #54893D"></i></div>
                            <div class="slider-one-slide-next-06 text-white w-100px swiper-button-next slider-navigation-style-02"><i class="fa-solid fa-angle-right icon-extra-medium" style="color: #54893D"></i></div>
                            <!-- end slider navigation -->
                        </div>
                    </div>
            </div>
        </section>

<style>
@media (max-width: 1100px){
	#index-comments{
		display: none;
	}
}
</style>
