        <section id="news" class="bg-solitude-blue position-relative sm-pb-20px pt-0" style="display: flex;justify-content: center;"> 
            <div class="container p-0 m-0">
                <div class="row">
                    <div class="col-12 px-0">
                        <ul class="blog-classic blog-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-double-extra-large" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
							{{# each  blog.elems}}
								{{> card1 data=this return_path=../this.blog.return_path}}
							{{/ each}}
                        </ul>
                    </div>
                </div>
				{{> pagination path="news" }}
            </div>
        </section>
<style>
#news{
		padding-right: 90px;
		padding-left: 90px;

	@media(max-width: 990px) {
		padding-right: 0px;
		padding-left: 0px;
	}
}
</style>
