            <nav class="modern-sidebar-nav header-light bg-white">
                <div class="h-100">
                    <div class="modern-side-menu" data-scroll-options='{ "theme": "light" }'>
                        <ul class="menu-item-list alt-font fw-600 ls-minus-1px">
								<li class="menu-item">
									<a href="home" class="nav-link">Home</a>
								</li>
								<li class="menu-item">
									<a href="about" class="nav-link">About</a>
								</li>
								<li class="menu-item">
									<a href="blog" class="nav-link">Blog</a>
								</li>
								<li class="menu-item">
									<a href="contacts" class="nav-link">Contacts</a>
								</li>
                        </ul>
                        <div class="mt-30">
                            <span class="d-block lh-24 fs-15 w-95">Looking for collaboration for your next creative project?</span>
                            <div class="mt-5px">
                                <i class="bi bi-envelope me-5px align-middle"></i><a href="mailto:hello@domain.com" class="text-dark-gray-hover fw-600 align-middle">hello@domain.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
