            <nav class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse" data-header-hover="light">
                <div class="container-fluid">
                    <div class="col-auto col-xxl-3 col-lg-2 me-lg-0 me-auto">
                        <a class="navbar-brand" href="demo-business.html">
                            <img src="../images/demo-business-logo-white.png" data-at2x="images/demo-business-logo-white@2x.png" alt="" class="default-logo">
                            <img src="../images/demo-business-logo-black.png" data-at2x="images/demo-business-logo-black@2x.png" alt="" class="alt-logo">
                            <img src="../images/demo-business-logo-black.png" data-at2x="images/demo-business-logo-black@2x.png" alt="" class="mobile-logo"> 
                        </a>
                    </div>
                    <div class="col-auto menu-order position-static">
                        <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav"> 
                            <ul class="navbar-nav alt-font"> 
                                <li class="nav-item"><a href="home" class="nav-link">Home</a></li>
                                <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                                <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
                                <li class="nav-item"><a href="contacts" class="nav-link">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-xxl-3 col-lg-2 text-end d-none d-sm-flex">
                        <div class="header-icon" style="background: transparent;">
                            <div class="nav-item"><a href="login"  class="btn btn-very-small btn-transparent-dark-gray nav-link border-color-dark-gray  btn-rounded">Log in</a></div>
                        </div>
                    </div>
                </div>
            </nav>
