                <nav class="left-sidebar-nav bg-white header-demo" data-sticky_column> 
                    <div class="side-menu-top text-center bg-white">
                        <a class="navbar-brand" href="index.html"> 
                            <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" alt="" class="default-logo">
                            <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" alt="" class="alt-logo">
                            <img src="images/logo-black.png" data-at2x="images/logo-black@2x.png" alt="" class="mobile-logo">
                        </a> 
                        <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </div>
                    </div>
                    <div class="side-menu-bottom">
                        <div class="side-menu">  
                            <ul class="menu-item-list fw-500">
								<li class="menu-item">
									<a href="home" class="nav-link">Home</a>
								</li>
								<li class="menu-item">
									<a href="about" class="nav-link">About</a>
								</li>
								<li class="menu-item">
									<a href="blog" class="nav-link">Blog</a>
								</li>
								<li class="menu-item">
									<a href="contacts" class="nav-link">Contacts</a>
								</li>
                            </ul> 
                        </div>
                        <div class="left-menu-bottom text-center">    
                            <div class="header-icon justify-content-center">  
                                <div class="header-social-icon icon mb-20px"> 
                                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-dribbble"></i></a>
                                    <a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-medium-gray fs-12 text-uppercase">&copy; 2024 Crafto</div>
                        </div>
                    </div>
                </nav>

