                            <li class="grid-item p-0 container blog3-card">
                                <div class="row bg-transparent border-radius-0px">
									
                                    <div class="ms-1px col-12 p-0" style="display: flex; flex-direction: column; justify-content: space-between;">
										<div class="pt-0 ps-10px pe-10px border" style="border: 0px solid #CCDCC5; border-width: 0.5px 0.5px 0.5px 0.5px; display: flex; flex-direction: column;" >

											<div class="p-0 card-body m-0">
												<a href="single-post?post_id={{data.id}}" class="card-title mb-0 text-dark-gray d-inline-block fs-16 fw-500 mt-5px" style="font-family: Inter; line-height: 19.36px;">{{data.title}}</a>
											</div>

									
											<div class="fs-10">
												<span>1 day ago...</span>
											</div>
										</div>
									</div>
                                </div>
                            </li>
