<header class="left-modern-header" id="navbar-menu">
            <div class="left-modern-sidebar header-light bg-white">
                <a class="navbar-brand section-link" href="demo-minimal-portfolio.html">
                    <img src="images/demo-minimal-portfolio-logo-black.png" data-at2x="images/demo-minimal-portfolio-logo-black@2x.png" alt="" class="default-logo">
                    <img src="images/demo-minimal-portfolio-logo-black.png" data-at2x="images/demo-minimal-portfolio-logo-black@2x.png" alt="" class="alt-logo">
                    <img src="images/demo-minimal-portfolio-mobile-logo-black@2x.png" data-at2x="images/demo-minimal-portfolio-mobile-logo-black@2x.png" alt="" class="mobile-logo">
                </a>
                <div class="toggle-icon">
                    <div class="navbar-toggler" data-bs-toggle="collapse"
                       data-bs-target="#navbar-menu">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </div>
                </div>
                <div class="vertical-title">
                    <div class="title elements-social social-icon-style-10">
                        <ul class="extra-small-icon dark fw-600">
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank">Fb.</a> </li>
                            <li><a class="instagram" href="https://www.instagram.com/" target="_blank">Ig.</a></li>
                            <li><a class="twitter" href="http://www.twitter.com" target="_blank">Tw.</a></li>
                            <li><a class="behance" href="http://www.behance.com/" target="_blank">Be.</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
	{{> nav_menu-left-modern}}
</header>
