<div class="mt-20px">
	<div>
		<img src="{{return}}images/{{src}}">
		<span class="ms-20px" style="font-family: Inter;font-size: 16px;font-weight: 500;line-height: 22.4px;color: #222;">{{name}}</span>
	</div>

	<div>
		<span class="mt-10px" style="font-family: Inter;font-size: 16px;line-height: 22.4px;color: #333;">{{text}}</span>
	</div>
</div>
