<div>
	<p style="font-family: Inter;font-size: 24px;font-weight: 600;line-height: 26.4px;color: #222;">4 Comments</p>

	<form>
		<textarea placeholder="Comment..." style="border: 1px solid #CCDCC5; min-height:140px;"></textarea>
	</form>

</div>
