{{#> layout-main classes="left-modern-menu custom-cursor"}}


		<div class="cursor-page-inner">
			<div class="circle-cursor circle-cursor-inner" style="visibility: visible; opacity: 1; transform: translate(13px, 113px);"></div>
			<div class="circle-cursor circle-cursor-outer" style="visibility: visible; transform: translate(13px, 113px);"></div>
		</div>



		{{#> header-left-modern}} {{header}} {{/header-left-modern}}
		<section class="d-flex align-items-center p-0">
			<div style="width: 100%;">
				{{> cookie_notify}}
				{{> @partial-block }}
			</div>
		</section>

{{/ layout-main}}
