{{#> layout-main classes="bg-very-light-gray"}}

		<div class="left-sidebar-wrapper" data-sticky_parent>
			{{#> header-left}} {{header}} {{/header-left}}
			<div class="sidebar-wrapper">
				{{> cookie_notify}}
				{{> @partial-block }}
			</div>
		</div>

{{/ layout-main}}
