{{#>blog1_layout}}
	<section class="text-center text-black">
		<h1>ABOUT E-LEARNING</h1>
	</section>
	{{> blog1_about_screen }}
	{{> blog1_adventages }}
	{{> blog1_subscribe_banner }}
{{/blog1_layout}}
