{{#> layout-main classes="bg-very-light-gray m-10px "}}
	{{> header}}
	<section class="text-center text-black mb-0 pb-0">
		<h1>LOG IN</h1>
		<p class="mb-0">Or create a new account</p>
	</section>
    {{> cookie_notify}}
	{{> login_form }}

{{/ layout-main}}
