{{#> common_layout_main classes="bg-very-light-gray m-10px "}}
	{{> blog1_header}}
	<section class="text-center text-black mb-0 pb-0">
		<h1>LOG IN</h1>
		<p class="mb-0">Or create a new account</p>
	</section>
    {{> common_cookie_notify}}
	{{> blog1_login_form }}

{{/ common_layout_main}}
