{{#> blog1_layout }}
	<section class="text-center text-black pb-0">
		<h1>BLOG</h1>
	</section>
	<section style="margin-left: 100px; margin-right: 100px;">
		{{> blog1_blog }}
	</section>
{{/ blog1_layout }}
