{{#> blog1_layout }}
	<section class="text-center">
		<h1 class="text-black fw-500 fs-64" style="font-family: Inter">CONTACTS</h1>
	</section>
	<section style="margin-left: 100px; margin-right: 100px;" class="row mt-0 pt-0">
		<div class="col-12 col-lg-4">
			{{> blog1_contacts }}
		</div>
		<div class="col-12 col-lg-8">
			{{> blog1_map }}
		</div>
	</section>
{{/ blog1_layout }}
