{{#> blog1_layout }}
	{{> blog1_main_screen }}
	<section id="content">
		{{#> blog1_citate author="—  Louis Pasteur" }}Science knows no country, because knowledge belongs to humanity, and is the torch which illuminates the world.{{/ blog1_citate }}
		{{> blog1_latest_news }}
		{{> blog1_comments }}
		{{> blog1_subscribe_banner }}
	</section>
{{/blog1_layout}}

<style>

	#content{
		padding-left: 100px;
		padding-right: 100px;
	}

@media(max-width: 500px){
	#content{
		padding-left: 10px;
		padding-right: 10px;
	}
}
</style>
