{{#> common_layout_main classes="bg-very-light-gray m-10px "}}
	{{> blog2_header}}
	<section class="text-left text-black mb-0 pb-0 ms-50px md-ms-10px ps-50px md-ps-10px">
		<h1>Log in or create a new account</h1>
	</section>
    {{> common_cookie_notify}}
	{{> blog2_login_form }}

{{/ common_layout_main}}
