{{#> blog2_layout }}
	<section class="text-left text-black mb-0 pb-0 ms-50px md-ms-10px ps-50px md-ps-10px">
		<h1>BLOG</h1>
	</section>
	<section style="margin-left: 100px; margin-right: 100px;">
		{{> blog2_blog }}
	</section>
{{/ blog2_layout }}
