{{#> blog2_layout }}
	<section class="text-left ps-50px sm-ps-10px ms-50px sm-ms-10px ps-50px md-ps-10px">
		<h1 class="text-black fw-500 fs-64" style="font-family: Inter">Contacts</h1>
	</section>
	<section class="row mt-0 pt-0 contacts-main">
		<div class="col-12">
			{{> blog2_contacts }}
		</div>
		<div class="col-12">
			{{> blog2_map }}
		</div>
	</section>
{{/ blog2_layout }}
