{{#> blog2_layout }}
	{{> blog2_main_screen }}
	<section id="content">
		{{#> blog2_citate author="—  Louis Pasteur" }}Science knows no country, because knowledge belongs to humanity, and is the torch which illuminates the world.{{/ blog2_citate }}
		{{> blog2_latest_news  header="Latest news"}}
		<section class="p-0 m-0">
				{{> blog2_button text="Read more" id="read_more"}}
		</section>
		{{> blog2_comments }}
		{{> blog2_subscribe_banner }}
	</section>
{{/blog2_layout}}

