{{#> blog2_layout }}
			<section class="row pe-50px pt-50px pb-50px ps-50px md-pe-5px md-pb-5px md-ps-5px" style="background: #CCDCC5">
				<div class="col-12 col-md-4" style="font-family: Inter;font-size: 16px;font-weight: 500;line-height: 22.4px;text-align: left;color: #333;">
					<span class="p-15px lh-30 mb-10px"><a style="color: #333" href="#">Popular</a></span>
					<span class="p-15px lh-30 mb-10px"><a style="color: #333" href="#">New</a></span>
					<span class="p-15px lh-30 mb-10px"><a style="color: #333" href="#">Selection for you</a></span>
					<span class="p-15px lh-30 mb-10px"><a style="color: #333" href="#">Video</a></span>
					<span class="p-15px lh-30 mb-10px"><a style="color: #333" href="#">Articles</a></span>
					<span class="p-15px lh-30 mb-10px"><a style="color: #333" href="#">News</a></span>
					<span class="p-15px lh-30 mb-10px"><a style="color: #333" href="#">Saved</a></span>
				</div>
				<div class="col-12 col-md-8 row">
					{{> blog2_tag text="Biology"}}
					{{> blog2_tag text="AI" }}
					{{> blog2_tag text="Nanotechnology" }}
					{{> blog2_tag text="Physics" }}
					{{> blog2_tag text="Medicine" }}
					{{> blog2_tag text="Ecology" }}
					{{> blog2_tag text="Chemistry" }}
					{{> blog2_tag text="Genetics and Biotechnology" }}
					{{> blog2_tag text="Astronomy" }}
					{{> blog2_tag text="Anthropology" }}
					{{> blog2_tag text="Economy" }}
				</div>
			</section>


			<section>
				<div class="container-center-horisontal" style="max-width: 850px;">
					{{> blog2_post_header text="Impact of Climate Change on Ecosystem Biodiversity: Current Challenges and Adaptation Strategies" }}
					{{> blog2_post }}
					{{> blog2_write_comment }}
					{{> blog2_post_comments }}
				</div>

			</section>
{{/ blog2_layout }}
