<section id="citate">
	<div class="container" style="display: flex;justify-content: center;">
			<div class="text-black">
				<p class="fs-32" style="font-family: Inter; font-weight: 600; text-align: left; font-style: italic;">{{> @partial-block }}</p>
				<p style="font-family: Inter; font-size: 16px; font-weight: 400; text-align: right;">{{author}}</p>
			</div>
	</div>
</section>

