<div class="w-100 h-100 p-10px comment">
	<div class="pe-0" style="width:100px;">
		<img src="{{blog.return_path}}images/comments/{{avatar}}" style="width:100px;" />
	</div>
	<div class="ps-20px pe-20px" style="width: 100%;">
		<p class="fs-16 fw-500 lh-20">{{author}}:</p>
		<p class="fs-12 fw-400 lh-15">
			{{> @partial-block }}
		</p>
	</div>
</div>

