<section class="pt-0 mt-0">
				<div class="col-12 mt-4 d-flex justify-content-center">
					<ul class="pagination pagination-style-01 fs-13 fw-500 mb-0" id="pagination">
						<li class="page-item"><a class="page-link feather" href="#"> < </a></li>

						<li class="page-item active"><a class="page-link" href="{{path}}?page=1">1</a></li>
						<li class="page-item"><a class="page-link" href="{{path}}?page=2">2</a></li>
						<li class="page-item"><a class="page-link" href="{{path}}?page=3">3</a></li>
						<li class="page-item"><a class="page-link" href="#">...</a></li>
						<li class="page-item"><a class="page-link" href="{{path}}?page=4">100</a></li>

						<li class="page-item"><a class="page-link feather" href="#"> > </a></li>
					</ul>
				</div> 

				<div class="row justify-content-center mb-1 mt-50px">
                    <div class="col-lg-7 text-center">

                            <div class="nav-item">
								<a href="login" class=" fs-16 p-20px" style="background:#CFD201; color: #000; font-family: Inter;" >Load more</a>
							</div>

					</div>
				</div>
</section>


