<a style="width: min-content" href="#"><div class=" mb-10px fs-16" style="border: 1px solid #CCDCC5; padding: 4px 8px 4px 8px; width: max-content; font-family: Inter; color: #333;">
	<span>{{text}}</span>
</div></a>
