                <div class="row justify-content-center mb-1 mt-50px">
                    <div class="col-lg-7 text-center">

                            <div class="nav-item">
								<a id="{{id}}" href="login" class=" fs-16 p-20px" style="background:#CFD201; color: #000; font-family: Inter;" >{{text}}</a>
							</div>

					</div>
				</div>
