<div class="container">
		<div class="row w-100 newsletter-style-02 position-relative mb-15px">
			<div class="col-12 col-md-6 col-lg-4">
				<span class="lh-1 d-block fs-12">Phone:</span>
				<a class="d-block fs-16 fw-500 mb-10px" href="tel:12345678910" style="font-family: Inter;">+1 (234) 567-89-10</a>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<span class="lh-1 d-block fs-12">E-mail:</span>
				<a href="mailto:help@domain.com" class="text-decoration-line-bottom fs-16 fw-500" style="font-family: Inter;">fast@help.com</a>
			</div>

			<div class="col-12 col-md-12 col-lg-4">
				<span class="mt-10px fs-12 fw-500 d-block">We are in social networks:</span> 
				<div class="row justify-content-start">
					<div class="col-12 elements-social social-icon-style-08">
						<ul class="dark">
							<li><a class="instagram" href="http://www.instagram.com" target="_blank"><img width="45px" src="{{blog.return_path}}images/ind.svg"/></a></li>
							<li><a class="facebook" href="https://www.facebook.com/" target="_blank"><img width="45px" src="{{blog.return_path}}images/fbd.svg"/></a></li>
							<li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><img width="45px" src="{{blog.return_path}}images/lid.svg"/></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
