
<section class="pt-40px" style="display: flex; justify-content: center; font-family: Inter;">
	<div style="width: 400px;">
					<form>
						<input placeholder="Your e-mail"/>

						<div class="mt-5px mb-25px" style="font-family: Inter; font-size: 12px; display: flex; height: 14px;">
							<label class="w-20px checkbox-container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
							<label class="text-black lh-14 mt-5px" for="html">By clicking the "get code" button, I agree to the processing of personal data</label>
						</div>

						<a href="login"><div class="nav-item p-10px mt-50px w-100 text-black" style="background:#CFD201; text-align: center;" >Get code</div></a>

					</form>


	</div>
</section>
