        <section id="main_screen"
			class="page-title-big-typography bg-dark-gray ipad-top-space-margin cover-background" 
			style="
				background-image: url({{blog.return_path}}images/main_screen.jpg);
				padding-bottom: 0;
				height: 640px;
				display: flex;
				flex-direction: column;
				justify-content: end;
				font-family: Inter;">
            <div class="container" style="height: 100%;">
                <div class="row align-items-end small-screen" style="text-align: center;display: flex;justify-content: center;flex-direction: column;">
                    <div class="position-relative page-title-extra-small">
                        <h2 class="m-auto pb-5px pt-5px text-white fw-600 ls-minus-1px overflow-hidden">
                            <p class="header-text d-inline-block" data-anime='{ "translateY": [30, 0], "opacity": [0, 1], "easing": "easeOutCubic", "duration": 500, "staggervalue": 300, "delay": 200 }' 
							style="">
								Your Gateway to Knowledge
							</p>
                        </h2>
                        <span class="mb-15px text-white opacity-7 fw-300 overflow-hidden">
                            <span class="tagline d-inline-block" style="font-family: Inter; font-size: 20px; font-weight: 400;" data-anime='{ "translateY": [30, 0], "opacity": [0, 1], "easing": "easeOutCubic", "duration": 500, "staggervalue": 300 }'>
								Unlocking the Future with Every Article
							</span>
                        </span>
                    </div> 
                </div>
            </div>
        </section>
