
        <!-- start section -->  
        <section class="pt-0">
            <div class="container">
                <div class="row justify-content-center align-items-center" data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'> 
                    <div class="col-lg-6 pt-8 pb-8 text-center text-sm-start"> 
                        <h6 class="alt-font fw-700 text-dark-gray mb-15px">London</h6>
                        <div class="row row-cols-1 row-cols-sm-2 mb-10">
                            <div class="col last-paragraph-no-margin xs-mb-20px">
                                <span class="fs-18 alt-font fw-600 d-block text-dark-gray mb-5px">Crafto - UK</span>
                                <p class="w-80 lg-w-100">401 Broadway, 24th Floor,<br> Orchard View, London, UK</p>
                            </div>
                            <div class="col">
                                <span class="fs-18 alt-font fw-600 d-block text-dark-gray mb-5px">Get in touch</span>
                                <a href="tel:12345678910">+1 234 567 8910</a><br>
                                <a href="mailto:info@domain.com" class="text-decoration-line-bottom text-dark-gray">info@domain.com</a>
                            </div>
                        </div>
                        <h6 class="alt-font fw-700 text-dark-gray mb-15px">New york</h6>
                        <div class="row row-cols-1 row-cols-sm-2">
                            <div class="col last-paragraph-no-margin xs-mb-20px">
                                <span class="fs-18 alt-font fw-600 d-block text-dark-gray mb-5px">Crafto - USA</span>
                                <p class="w-80 lg-w-100">27 Eden Walk Eden Centre,<br> Orchard, New York, USA</p>
                            </div>
                            <div class="col">
                                <span class="fs-18 alt-font fw-600 d-block text-dark-gray mb-5px"> Get in touch</span>
                                <a href="tel:12345678910">+1 234 567 8910</a><br>
                                <a href="mailto:info@domain.com" class="text-decoration-line-bottom text-dark-gray">info@domain.com</a>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-6 align-self-start contact-form-style-03 position-relative"> 
                        <div class="bg-white box-shadow-double-large p-12 lg-p-9 border-radius-10px">
                            <h3 class="fw-700 alt-font text-dark-gray mb-30px sm-mb-20px">How can help you?</h3>
                            <!-- start contact form -->
                            <form action="email-templates/contact-form.php" method="post">
                                <div class="position-relative form-group mb-20px">
                                    <span class="form-icon text-medium-gray opacity-6"><i class="bi bi-emoji-smile"></i></span>
                                    <input class="ps-0 border-radius-0px bg-transparent border-color-extra-medium-gray form-control required" type="text" name="name" placeholder="Your name*" />
                                </div>
                                <div class="position-relative form-group mb-20px">
                                    <span class="form-icon medium-gray opacity-6"><i class="bi bi-envelope"></i></span>
                                    <input class="ps-0 border-radius-0px bg-transparent border-color-extra-medium-gray form-control required" type="email" name="email" placeholder="Your email address*" />
                                </div>
                                <div class="position-relative form-group mb-20px">
                                    <span class="form-icon text-medium-gray opacity-6"><i class="bi bi-telephone"></i></span>
                                    <input class="ps-0 border-radius-0px bg-transparent border-color-extra-medium-gray form-control" type="tel" name="phone" placeholder="Your phone" />
                                </div>
                                <div class="position-relative form-group form-textarea mt-15px mb-0"> 
                                    <textarea class="ps-0 border-radius-0px bg-transparent border-color-extra-medium-gray form-control" name="comment" placeholder="Your message" rows="3"></textarea>
                                    <span class="form-icon medium-gray opacity-6"><i class="bi bi-chat-square-dots"></i></span>
                                    <input type="hidden" name="redirect" value="">
                                    <button class="btn btn-medium btn-base-color btn-round-edge mt-35px submit fw-600" type="submit">Send message</button>
                                    <div class="form-results mt-20px d-none"></div>
                                </div>
                            </form>
                            <!-- end contact form -->
                        </div>
                    </div> 
                </div> 
            </div>
        </section>
        <!-- end section --> 

        <!-- start section -->
        <section class="overlap-height half-section">
            <div class="container overlap-gap-section"> 
                <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-01 md-mb-40px">
                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                            <div class="feature-box-icon me-25px">
                                <img src="https://via.placeholder.com/150x150" class="h-85px" alt="">
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block fs-19 lh-26 alt-font text-dark-gray fw-600 w-75 lg-w-100">Take pride in your work.</span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-01 md-mb-40px">
                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                            <div class="feature-box-icon me-25px">
                                <img src="https://via.placeholder.com/150x150" class="h-85px" alt="">
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block fs-19 lh-26 alt-font text-dark-gray fw-600 w-75 lg-w-100">Deliver on your promises.</span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-01 xs-mb-40px">
                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                            <div class="feature-box-icon me-25px">
                                <img src="https://via.placeholder.com/150x150" class="h-85px" alt="">
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block fs-19 lh-26 alt-font text-dark-gray fw-600 w-75 lg-w-100">Work with the supreme.</span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                            <div class="feature-box-icon me-25px">
                                <img src="https://via.placeholder.com/150x150" class="h-85px" alt="">
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block fs-19 lh-26 alt-font text-dark-gray fw-600 w-75 lg-w-100">Transparency in dealings.</span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                </div>  
            </div>
        </section>

