        <section id="down-section" class="overflow-hidden cover-background" style="background-image: url(images/demo-beauty-salon-review-03.jpg)">
            <div class="container">
                <div class="row justify-content-center align-items-center mb-4" data-anime='{ "el": "childs", "translateY": [30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
                    <div class="col-auto pe-25px border-2 border-end border-color-dark-gray sm-border-end-0 sm-pe-15px">
                        <span class="fs-16 text-uppercase text-gradient-san-blue-new-york-red fw-700 ls-1px">Loved by our customers</span>
                    </div>
                    <div class="col-12 col-md-auto ps-25px sm-ps-15px text-center">
                        <h3 class="alt-font fw-400 text-dark-gray ls-minus-1px mb-0">Customers are saying</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12" data-anime='{ "el": "childs", "translateX": [100, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 200, "easing": "easeOutQuad" }'>
                        <div class="outside-box-right-35 sm-outside-box-right-0">
                            <div class="swiper magic-cursor slider-three-slide swiper-initialized swiper-horizontal" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "pagination": { "el": ".slider-four-slide-pagination-1", "clickable": true, "dynamicBullets": false }, "navigation": { "nextEl": ".slider-three-slide-next", "prevEl": ".slider-three-slide-prev" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                                <div class="swiper-wrapper pt-30px pb-30px">
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Amazing product</span>
                                            <p>A wonderfully professional salon, beautiful location and beautifully kept. Great products knowledge.</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/148x148" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Herman Miller</div>
                                                    <div class="lh-20">Founder</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end review item -->
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Highly recommended</span>
                                            <p>Perfection isn't just any other salon. It's a complete cut above the rest. Highly recommended!</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/148x148" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Leonel Mooney</div>
                                                    <div class="lh-20">Manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- end review item -->
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Professional salon</span>
                                            <p>Perfection should be everyones number one choice to relax and treat yourself or loved ones.</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/148x148" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Matthew Taylor</div>
                                                    <div class="lh-20">Expert</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- end review item -->
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Beautiful location</span>
                                            <p>Dedicated team will do their best to meet your needs and give you your ultimate treatment.</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/200x200" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Shoko Mugikura</div>
                                                    <div class="lh-20">Manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                    <!-- end review item -->
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Amazing product</span>
                                            <p>A wonderfully professional salon, beautiful location and beautifully kept. Great products knowledge.</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/148x148" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Herman Miller</div>
                                                    <div class="lh-20">Founder</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end review item -->
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Highly recommended</span>
                                            <p>Perfection isn't just any other salon. It's a complete cut above the rest. Highly recommended!</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/148x148" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Leonel Mooney</div>
                                                    <div class="lh-20">Manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- end review item -->
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Professional salon</span>
                                            <p>Perfection should be everyones number one choice to relax and treat yourself or loved ones.</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/148x148" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Matthew Taylor</div>
                                                    <div class="lh-20">Expert</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- end review item -->
                                    <!-- start review item -->
                                    <div class="swiper-slide review-style-04"> 
                                        <div class="d-flex justify-content-center h-100 flex-column bg-white border-radius-6px p-14 md-p-10 box-shadow-extra-large">
                                            <div>
                                                <div class="review-star-icon text-gradient-san-blue-new-york-red d-inline-block fs-20">
                                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                                                </div> 
                                            </div>
                                            <span class="alt-font fs-22 text-dark-gray mb-20px">Beautiful location</span>
                                            <p>Dedicated team will do their best to meet your needs and give you your ultimate treatment.</p>
                                            <div class="mt-5px d-flex align-items-center">
                                                <img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/200x200" alt="">
                                                <div class="d-inline-block align-middle"> 
                                                    <div class="fs-19 text-dark-gray fw-600">Shoko Mugikura</div>
                                                    <div class="lh-20">Manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                    <!-- end review item -->
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>

